<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resest Password</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>

</head>
<!--/*@thymesVar id="user" type="com.example.teswebapp.domain.User"*/-->
<div class="container my-5">
    <h2 class="col-md-offset-3">Reset Password </h2>
    <form class="form-horizontal" role="form" th:action="@{/forgetPassword}" method="post">

        <div class="alert alert-danger" th:if="${msgEmailMissing!=null}">
            <p  th:text="${msgEmailMissing}"></p>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="email" class="col-sm-2 control-label">Email address</label>
                <div class="col-sm-4">
                    <input type="text" name="email" id="email" placeholder="Email"
                           class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md col-md-offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{'/index'}" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </form>
</div>

</body>
</html>